@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


.Container {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  background: linear-gradient(to left, #FF3C6A, #FFAF36, #5200FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragrafo {
  display: flex;
  justify-content: center;
}

p {
  width: 50%;
  flex-shrink: 0;

  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  opacity: 0.800000011920929;
}

.topButton {
  display: flex;
  justify-content: end;

  bottom: 0;
  font-family: 'Inter', sans-serif;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.imageAnimation {
  width: 100%;
  height: 50vh;
  animation: moveUpDown 2s infinite;
  background-image: url(../../assets/x-34-landspeeder.png);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 5px 5px #b1b2b3);
}

.imageContainer2 {
  width: 100%;
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imageAnimation2 {
  width: 50%;
  height: 40vh;

  animation: moveRotate 3s linear infinite;

  background-image: url(../../assets/x-wing.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0 -5px 5px #E1575D);
}

.imageAnimation3 {
  width: 50%;
  height: 40vh;
  position: absolute;

  animation: diagonalAnimation 10s linear infinite;

  background-image: url(../../assets/tieln-starfighter.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: drop-shadow(10px 0 5px #5AB3F9);
}

.ellipse2 {
  width: 50%;
  height: 70%;
  flex-shrink: 0;

  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  border-radius: 720px;
  background: linear-gradient(180deg, #B7BA31 0%, rgba(185, 113, 61, 0.00) 100%);
  filter: blur(300px);
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes moveRotate {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@keyframes diagonalAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(20%) translateX(-20%);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 70px;
  }

  p {
    width: 70%;
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .imageAnimation2 {
    width: 80%;
  }

  .imageAnimation3 {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 50px;
  }

  p {
    width: 100%;
    font-size: 24px;
  }

  .imageAnimation {
    background-size: contain;
  }

  .imageAnimation2 {
    width: 80%;
  }

  .imageAnimation3 {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 45px;
  }

  p {
    width: 100%;
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 38px;
  }

  p {
    width: 100%;
    font-size: 20px;
  }

  .imageAnimation {
    height: 30vh;
  }

  .imageAnimation3 {
    width: 100%;
    height: 40vh;
  }

}