.vehicleCard{
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;

    background-color: #d2d2d2;
    border-radius: 30px;
}

.conteudo {
    width: 100%;

    display: flex;
}

.vehicleImage{
    width: 50%;

    border-radius: 25px 0 0 25px;
    background-color: rgb(49, 49, 49);
}

.vehicleInfos{
    width: 50%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    text-align: center;
    padding: 10px;
    color: #333;
}

.vehicleInfos h3{
    font-size: 34px;
    text-align: center;
    font-weight: 800;
    color: #333;
}

.vehicleInfos p {
    width: 100%;
}

.Link{
    height: 53px;
    flex-shrink: 0;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 24.5px;
    background: #3580EF;
    color: #fff;
}