@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.Container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #FFFFFF;
}

.vehicleContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.ellipse {
    width: 50%;
    height: 70%;
    flex-shrink: 0;

    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    border-radius: 1161px;
    opacity: 0.44999998807907104;
    background: linear-gradient(180deg, #C173FF 0%, #70EEFF 100%);
    filter: blur(200px);
}

.pagination {
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
}

.buttonPagination {
    height: 53px;
    flex-shrink: 0;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 24.5px;
    background: rgba(217, 217, 217, 0.79);
    color: #000;
}

.buttonPagination:disabled {
    background: rgba(104, 104, 104, 0.79);
}


@media screen and (max-width: 1440px) {
    .vehicleContainer {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .vehicleContainer {
        width: 90%;
    }

    .Title {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .vehicleContainer {
        width: 100%;
    }

    .Title {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .Title {
        padding-top: 10px;
    }

    .pagination {
        gap: 5px;
    }
    .buttonPagination {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    .buttonPagination {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .pagination {
        gap: 5px;
    }

    .buttonPagination {
        font-size: 14px;
    }
}